---
title: Portfolio
endpoint: portfolio
---
extends ../partials/page
include ../partials/menu
include ../partials/heading

mixin image(source, link, title)
  a(href=link target='_blank' aria-label=`View ${title} Session Images`)
    img(
      loading='lazy'
      src='/img/portfolio/' + source + '_1200.jpg'
      srcset='/img/portfolio/' + source + '_600.jpg 600w, /img/portfolio/' + source + '_1200.jpg 1200w'
      sizes='(max-width: 600px) 480px, 800px'
      alt=''
    )

block body
  #layout
    +menu('portfolio')
    main
      +heading()
      section#portfolio
        each item in images
          .title-overlay
            .title #{item.title}
            +image(item.src, item.link, item.title)

block footer
  a.social-link(href="/contact")
    img.contact(src="/img/icons/contact.svg")

